body, html {
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded');

h1, h2 {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-style: bold;
}

h3 {
  font-style: italic;
  font-family: "Zalando Sans Expanded", sans-serif;
}

p {
  text-align: left;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (steve.jpeg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/cemetary.jpeg");

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.img, .img-responsive {
  border: 3px dotted black;
}

.hover:hover .img-responsive {
  opacity: 0.45;
  transition: .45s;
}

.hover:hover .img {
  opacity: 0.45;
  transition: .45s;
}

.hover:not(:hover) .img {
  opacity: 1;
  transition: .45s;
}
.hover:not(:hover) .img-responsive {
  opacity: 1;
  transition: .45s;
}


.bg-b {
  background: #2d2d30;
  color: #bdbdbd;
}
.bg-w h3 {color: #fff;}
.bg-w p {color: #fff;}

.bg-w= {
  background: #fff;
  color: #2d2d30;
}
.bg-w h3 {color: #2d2d30;}
.bg-w p {color: #2d2d30;}